{% extends "base.html" %} {% block title %}filter tags{% endblock %} {% block
content %}
<form method="POST">
  <h3 align="center">filter by tag: {{ tag }}</h3>

  <a href="/" style="float: inline-end">let's go home.</a>

  <!-- OSS: contenteditable doesn't save changes (yet) -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Category</th>
        <th scope="col">Description</th>
        <th scope="col">Tags</th>
      </tr>
    </thead>
    <tbody>
      {% for row in filtered %}
      <tr>
        <td>
          <div>{{row.date}}</div>
        </td>
        <td>
          <div>{{row.amount}}</div>
        </td>
        <td>
          <div>{{row.category}}</div>
        </td>
        <td>
          <div>{{row.description}}</div>
        </td>
        <td>
          <div class="tags-display">
            {% for t in row.tags %}
            <button
              type="button"
              class="btn-tag"
              onclick="filterByTag('{{ t.__repr__() }}')"
            >
              {{ t.__repr__() }}
            </button>
            {% endfor %}
          </div>
        </td>
        <td></td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</form>

{% endblock %}
