{% extends "base.html" %} {% block title %}home{% endblock %}

{% block content %}
<form method="POST" onsubmit=FormSubmit(this)>
  <h3 align="center">add transaction</h3>
  <div class="form-group">
    <div class="input-group mb-3">
      <div class="d-inline-flex gap-1"">
          <input type="button" class="btn btn-outline-success" data-toggle="button" id="income" name="income" value="Income" onclick="return handleClick('in')"/>
          <input type="button" class="btn btn-outline-danger" data-toggle="button" id="expense" name="expense" value="Expense" onclick="return handleClick('out')"/>

      <input type="hidden" name="flag" id="flag" value=""/>

    </div>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">Date</span>
    <input
      type="date"
      class="form-control"
      placeholder="MM/DD/YYYY"
	    id="date"
	    name="date"
      placeholder="Date"
      aria-label="Date"
    />
  </div>

  <div class="input-group mb-3">
    <label class="input-group-text" for="category">Category</label>

    <input type="hidden" name="category" id="category"/>
    <select class="form-select" name="category_ddl" id="category_ddl" onchange="DropDownChanged(this);">
    <!-- <option selected></option> -->
     <option value="" disabled selected>choose...</option>
      {% for cat in categories %}
        <option value='{{cat.category}}'>{{ cat.category }}</option>
      {% endfor %}
      <li><hr class="dropdown-divider" /></li>
      <option value="">+ Add new category</option>
    </select> <input type="text" name="category_in" id="category_in" style="display: none;" />
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">$</span>
    <input type="float" class="form-control" id="amount" name="amount" aria-label="Amount" />
  </div>

  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
	    id="description"
	    name="description"
      placeholder="Description"
      aria-label="Description"
    />
  </div>

  <!-- tagging system -->
   

  <button type="submit" class="btn btn-primary">Add</button>


  <!-- <div style="float: inline-end;" -->
  <a href="/edit" style="float: inline-end;">Edit</a>
  <!-- </div> -->


  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Category</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>

      {% for row in history %}
      <tr>
        <td>
            {{row.date}}
         </td>
         <td>
            {{row.amount}}
        </td>
        <td>
            {{row.category}}
        </td>
        <td>
            {{row.description}}
        </td>
        {% endfor %}
    </tbody>
  </table>
</form>

{% endblock %}
