{% extends "base.html" %} {% block title %}pivot-table{% endblock %} {% block
content %}

<h1 style="text-align: center">{{year_selected}} expenses</h1>
<form method="POST">
  <select
    name="year-select"
    id="year-select"
    onchange="document.forms[0].submit();"
  >
    {% for y in years %}
        {% if y == year_selected %}
            <option selected value="{{ y }}">{{ y }}</option>

        {% else %}
            <option value="{{ y }}">{{ y }}</option>

        {% endif %}
    {% endfor %}
  </select>
</form>
{{data | safe}}


{% endblock %}
